[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
black = "*"
langchain = "*"
openai = "*"
python-dotenv = "*"
streamlit = "*"
streamlit-chat = "*"
selenium-wire = "*"
pyyaml = "*"
install = "*"
flask = "*"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.11"
