[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
black = "*"
langchain = "*"
openai = "*"
python-dotenv = "*"
streamlit = "*"
streamlit-chat = "*"
selenium-wire = "*"
pyyaml = "*"
python-magic-bin = "==0.4.14"
install = "*"

[dev-packages]

[requires]
python_version = "3.11"
